<a href="/articles">トップに戻る</a>
<div>
  <%= @id %>
</div>
<div>
  <%= CGI.escape_html(@article_title) %>
</div>
<div>
  <%= CGI.escape_html(@article_content) %>
</div>
<div>
  <form form action="/articles/<%= @id %>" method="post" class="">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="">削除する</button>
  </form>
  <a href="/articles/<%= @id %>/edit">編集する</a>
</div>
